[user]
	name = Simon Lorenz
	email = mail@simon-lorenz.dev
[includeIf "gitdir:~/Desktop/dev/work/"]
	path = ~/.work.gitconfig # overrides private email address
[alias]
	st = status
	c = commit
	ca = commit -a
	cam = commit -a -m
	clean-repo = clean -xdf
	co = checkout
	d = diff
	dc = diff --cached
	goda = log --graph --oneline --decorate --all
	one = log --oneline
	skip = update-index --skip-worktree
	unskip = update-index --no-skip-worktree
[core]
	editor = code --wait
	excludesfile = ~/.gitignore
	pager = diff-so-fancy | less --tabs=4 -RFX
[pull]
	ff = only
[advice]
	statusHints = false
	detachedHead = false
[commit]
	template = ~/.gitmessage
[remote "origin"]
	prune = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 88
	newNormal = green bold
	newHighlight = green bold 28
[color "diff"]
	meta = 11
	frag = blue bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[diff-so-fancy]
	markEmptyLines = false
