[user]
	name = Simon Lorenz
	email = mail@simon-lorenz.dev
[includeIf "gitdir:~/Desktop/dev/work/"]
	path = ~/.work.gitconfig # overrides private email address
[alias]
	st = status
	c = commit
	ca = commit -a
	cam = commit -a -m
	clean-repo = clean -xdf
	co = checkout
	d = diff
	dc = diff --cached
	goda = log --graph --oneline --decorate --all
	one = log --oneline
	skip = update-index --skip-worktree
	unskip = update-index --no-skip-worktree
[core]
	editor = code --wait
[advice]
	statusHints = false
	detachedHead = false